<li>
    <span class="folder"><a>{{ folder.name }}</a></span>
    <ul class="nested_in_folder">
        {% for subfolder in folder.directory_set.all %}
            {% if subfolder.active %}
                {% include 'compiler/folder.html' with folder=subfolder %}
            {% endif %}
        {% endfor %}
        {% for file in folder.file_set.all %}
            {% if file.active %}
                <li><a href="{% url 'show_code' file.id %}">{{ file.name }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</li>