<li>
    <span class="folder"><a href="{% url 'folder_details' folder.id %}">{{ folder.name }}</a><a class="delete" href="{% url 'folder_delete' folder.id %}">X</a></span>
    <ul class="nested_in_folder">
        {% for subfolder in folder.directory_set.all %}
            {% if subfolder.active %}
                {% include 'compiler/folder.html' with folder=subfolder %}
            {% endif %}
        {% endfor %}
        {% for file in folder.file_set.all %}
            {% if file.active %}
                <li><a href="{% url 'show_code' file.id %}">{{ file.name }}</a><a class="delete" href="{% url 'file_delete' file.id %}">X</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</li>