<!DOCTYPE html>
<html lang="zxx">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>My compiler</title>
    <link rel="stylesheet" href="{% static 'compiler/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
          integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
    <script src="{% static 'compiler/darkmode.js' %}" defer></script>
    <script src="{% static 'compiler/hamburger.js' %}" defer></script>
    <script src="{% static 'compiler/folder.js' %}" defer></script>
    <script src="{% static 'compiler/show_file.js' %}" defer></script>
</head>

<body>
<div class="wrapper">
    <nav class="navbar">
        <ul>
            <button type="submit" class="button" form="compile-form" id="compile-button">COMPILE</button>

            <button id="download_button" class="button">DOWNLOAD</button>
            <script>
              const downloadButton = document.getElementById('download_button');
              downloadButton.addEventListener('click', () => {
                const asmContent = document.getElementById('download_asm').innerText;
                const blob = new Blob([asmContent], { type: 'text/plain' });
                const url = URL.createObjectURL(blob);
                const link = document.createElement('a');
                link.href = url;
                link.download = 'compiled.asm';
                link.click();
              });
            </script>

            <button class="button"><a style="color: white; text-decoration: none;" href="{% url 'edit_sections' %}">EDIT SECTIONS</a></button>
            <button class="button"><a style="color: white; text-decoration: none;" href="{% url 'logout' %}">LOGOUT</a></button>
        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <span class="change_mode"><i class="bi bi-moon-stars-fill" id="toggle_dark_mode"></i></span>
    </nav>
    <div class="choose_files">
        <ul id="outer">
            <li><span class="folder"><a href="{% url 'root_folder' %}">ROOT FOLDER</a></span>
                <ul class="nested_in_folder">
                    {% for folder in root_folders %}
                        {% if folder.active %}
                            {% include 'compiler/folder.html' with folder=folder %}
                        {% endif %}
                    {% endfor %}
                    {% for file in root_files %}
                        {% if file.active %}
                            <li class="file" data-file="{{ file.code }}" file-id="{{ file.id }}"><a>{{ file.name }}</a><a class="delete" href="{% url 'file_delete' file.id %}">X</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
    <div class="programme_text">
        <form action="" method="POST" id="compile-form">
            {% csrf_token %}
        <pre>
<textarea type="text" class="content" id="code" name="codearea">{{ code }}</textarea>
        </pre>
            <input type="hidden" id="file_id" name="file_id" value="">
            <input type="hidden" id="standard" name="standard" value="">
            <input type="hidden" id="optimizations" name="optimizations" value="">
            <input type="hidden" id="processor" name="processor" value="">
            <input type="hidden" id="dependent" name="dependent" value="">
            <input type="hidden" id="MCSoption" name="MCSoption" value="">
            <input type="hidden" id="STM8option" name="STM8option" value="">
            <input type="hidden" id="Z80option" name="Z80option" value="">
        </form>
    </div>

    <div class="code_window" id="download_asm">
        {% for line in output %}
            <div class="asm">
<pre class="asm_comment">{{ line.0 }}</pre>
<pre class="asm_code">{{ line.1 }}</pre>
            </div>
        {% endfor %}
    <pre>{{ error }}</pre>
    <pre>
        </pre>
    </div>
    <div class="data">
        <input class="tab" type="radio" name="slider" id="tab1" checked>
        <input class="tab" type="radio" name="slider" id="tab2">
        <input class="tab" type="radio" name="slider" id="tab3">
        <input class="tab" type="radio" name="slider" id="tab4">
        <nav class="tabs">
            <label for="tab1" class="tab1">Tab 1</label>
            <label for="tab2" class="tab2">Tab 2</label>
            <label for="tab3" class="tab3">Tab 3</label>
            <label for="tab4" class="tab4">Tab 4</label>
        </nav>
        <section>
            <div class="content content-1" id="t1">
                <div style="display: flex; justify-content: space-between; padding-right: 100px; padding-left: 100px">
                <label><input type="radio" name="standard" value="C89" id="C89">C89</label>
                <label><input type="radio" name="standard" value="C99" id="C99">C99</label>
                <label><input type="radio" name="standard" value="C11" id="C11">C11</label>
                </div>
            </div>
            <div class="content content-2" id="t2">
                <div style="display: flex; justify-content: space-between; padding-right: 100px; padding-left: 100px">
                <label><input type="checkbox" name="optimizations" value="--opt-code-size" id="opt1"> --opt-code-size</label>
                <label><input type="checkbox" name="optimizations" value="--opt-code-speed" id="opt2">--opt-code-speed</label>
                <label><input type="checkbox" name="optimizations" value="--fomit-leaf-frame-pointer" id="opt3">--fomit-leaf-frame-pointer</label>
                </div>
            </div>
            <div class="content content-3" id="t3">
                <div style="display: flex; justify-content: space-between; padding-right: 100px; padding-left: 100px">
                <label><input type="radio" name="processor" value="mcs51">MCS51</label>
                <label><input type="radio" name="processor" value="stm8">STM8</label>
                <label><input type="radio" name="processor" value="z80">Z80</label>
                </div>
            </div>
            <div class="content content-4" id="t4">
                <h1 >MCS51</h1>
                <div id="t41">
                <input type="radio" id="mcs51_1" name="MCSoption" value="model-small"/><label for="mcs51_1">model-small</label>
                <input type="radio" id="mcs51_2" name="MCSoption" value="model-medium"/><label for="mcs51_2">model-medium</label>
                <input type="radio" id="mcs51_3" name="MCSoption" value="model-large"/><label for="mcs51_3">model-large</label>
                </div>
                <h1>STM8</h1>
                <div id="t42">
                <input type="radio" id="stm8_1" name="STM8option" value="model-small"/><label for="stm8_1">model-small</label>
                <input type="radio" id="stm8_2" name="STM8option" value="model-medium"/><label for="stm8_2">model-medium</label>
                <input type="radio" id="stm8_3" name="STM8option" value="model-large"/><label for="stm8_3">model-large</label>
                </div>
                <h1>Z80</h1>
                <div id="t43">
                <input type="radio" id="z80_1" name="Z80option" value="rgbds"><label for="z80_1">rgbds</label>
                <input type="radio" id="z80_2" name="Z80option" value="sdasz80"><label for="z80_2">sdasz80</label>
                <input type="radio" id="z80_3" name="Z80option" value="isas"><label for="z80_3">isas</label>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>