:root {
    --color3_dm: #18122B;
    --color1_dm: #393053;
    --color2_dm: #443C68;
    --color_dm: white;
    --color1: gray;
    --color2: beige;
    --color3: white;
    --color: black;
    --hover_color: orange;
    --folder_fill: url(folder-fill.svg);
    --file_fill: url(file-code-fill.svg);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', serif;
    font-size: 62.5%;
    background-color: var(--color);
    color: var(--color);
}

ul {
    padding-left: calc(1.2rem + 7px);
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 70px 7fr 3fr;
    height: 100vh;
    gap: 1px;
}

/* CHOOSE_FILES START */
.choose_files {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    font-size: 1.2rem;
    padding: 1.2rem;
    background-color: var(--color2);
}

#outer {
    margin: 0;
    padding: 0;
}

.choose_files ul {
    list-style-type: none;
}

.folder {
    cursor: pointer;
    word-break: break-all;
    user-select: none;
}

.folder>a::before {
    content: var(--folder_fill);
    padding-right: 10px;
}

/*.folder:hover::before {*/
/*    content: url(folder-fill-hover.svg)*/
/*}*/

/*.folder::before:hover{*/
/*    fill: var(--hover_color);*/
/*}*/

/*.folder:hover {*/
/*    color: var(--hover_color);*/
/*}*/

#toggle_folder {
    cursor: pointer;
}

.nested_in_folder {
    display: none;
}

.active_folder li>a::before {
    content: var(--file_fill);
    /*content: url("file-code-fill.svg");*/
    padding-right: 10px;
}

.active_folder {
    display: block;
}

.active_folder::before {

}
/* CHOOSE_FILES END */

.programme_text {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: 1.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    overflow-y: scroll;
    background-color: var(--color3);
}

.code_window {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    font-size: 1.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    overflow-y: scroll;
    background-color: var(--color3);
}

.data {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    background-color: var(--color3);
}

/* NAVBAR START */
.navbar {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    height: 70px;
    background-color: var(--color1);
    font-size: 2.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.navbar ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}


li {
    list-style: none;
    color: var(--color);
    /*padding-right: 10px;*/
}

li a {
    user-select: none;
    text-decoration: none;
    color: var(--color)
}

li a:hover{
    color: var(--hover_color);
    transition: all 0.3s ease;
}


.navbar span a:hover {
    transition: all 0.3s ease;
}

#toggle_dark_mode {
    cursor: pointer;
}

#toggle_dark_mode:hover{
    color: var(--hover_color);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--color);
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .navbar ul {
        position: fixed;
        top: -200%;
        gap: 0px;
        flex-direction: column;
        background-color: var(--color1);
        width: 100%;
        text-align: center;
        justify-content: center;
        transition: 0.3s ease;
        z-index: 1;
    }

    .navbar li {
        margin: 16px 16px;
        padding-right: 0;
    }

    .navbar ul.active {
        margin-top: 0;
        top: 71px;
        left: 0;
    }

    .change_mode {
        justify-self: right;
    }
}

.bi:hover {
    color: var(--hover_color);
}
/* NAVBAR END */

.navbar, .choose_files, .code_window, .programme_text, .data {
    transition: 0.3s ease;
}

.data {
    display: grid;
    grid-template-rows: 51px;
    background-color: var(--color);
    gap: 1px 1px;
}

.data .tabs {
    position: relative;
    display: flex;
    font-size: 3vw;
    background-color: var(--color1);
    transition: background-color 0.3s ease;
}

.data .tabs label {
    display: block;
    width: 100%;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    border-bottom: 51px solid var(--color1);
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	height: 0;
    transition: all 0.3s ease;
}

#tab1:checked ~ .tabs label.tab1,
#tab2:checked ~ .tabs label.tab2,
#tab3:checked ~ .tabs label.tab3,
#tab4:checked ~ .tabs label.tab4{
    transition: all 0.3s ease;
    color: var(--color);
    border-bottom: 51px solid var(--hover_color);
}

/*.data .tabs .slider {*/
/*    position: absolute;*/
/*    height: 100%;*/
/*    width: 25%;*/
/*    z-index: 0;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    transition: all 0.3s ease;*/
/*    border-bottom: 50px solid orange;*/
/*	border-left: 10px solid transparent;*/
/*	border-right: 10px solid transparent;*/
/*}*/

.data input[type="radio"] {
    display: none;
}

#tab1:checked ~ .tabs .slider {
    left: 0;
}

#tab2:checked ~ .tabs .slider {
    left: 25%;
}

#tab3:checked ~ .tabs .slider {
    left: 50%;
}

#tab4:checked ~ .tabs .slider {
    left: 75%;
}

section .content {
    font-size: 50px;
    display: none;
}

#tab1:checked ~ section .content-1,
#tab2:checked ~ section .content-2,
#tab3:checked ~ section .content-3,
#tab4:checked ~ section .content-4 {
    display: block;
    background-color: var(--color3);
    height: 100%;
}